<footer class="bg-dark text-white" style="width: 100%">
    <div class="row mt-auto p-4 ">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div>
                <h5>HOTEL INFORMATION</h5>
                <h7>&#128205;Open Hotel Đà Lạt Khu Du Lịch Phường 3, Tp. Đà Lạt, Lâm Đồng</h7>
                <div class="text-danger">
                    <h7>&#128386; dalatopenhotel@gamil.com</h7>
                    <br>
                    <span>&#128382; 0963817792</span>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class=" col-md-2 ">
            <h5>FOLLOW US ON SOCIAL</h5>
            <br>
            <div class="row ">
                <div class="col-md-3">
                    <img class="d-block rounded-circle"
                         src="https://i.pinimg.com/564x/18/6e/16/186e162b9c73e39736bca91febda64ce.jpg"
                         style="height: 50px; width: 50px">
                </div>
                <div class="col-md-3">
                    <img class="d-block rounded-circle"
                         src="https://i.pinimg.com/736x/67/e5/2e/67e52e0b17c2b433ffde8e0c04eaf8a7.jpg"
                         style="height: 50px; width: 50px">
                </div>
                <div class="col-md-3 ">
                    <img class="d-block rounded-circle"
                         src="https://i.pinimg.com/originals/ce/d3/ca/ced3ca22a00d68bf71170b421bd37fd1.png"
                         style="height: 50px; width: 50px">
                </div>
            </div>
            <div class="text-white" style="font-size: 15px">
            </div>
        </div>
    </div>


    <hr class="text-info container" style="height: 1px; width: 2000px">
    <div class="row ">
        <div class="col-md-3"></div>
        <div class="col-md-1">
            <div class="col-md-3">
                <a class="nav-link active text-primary" href="/">
                    <img class="d-block"
                         src="https://img.freepik.com/premium-vector/logo-with-letter-t-dark-background_745595-535.jpg?size=626&ext=jpg"
                         style="height: 70px; width: 70px"></a>

            </div>
        </div>

        <div class="col-md-4 ">
            <br>
            <h7>Khách sạn Open Hotel Đà Lạt - Open Group in DakLak</h7>
            <br>
            <h7 class="text-muted">©All Rights 2024 Reserved. Open Hotel Dalat - Website by Dat-Vi</h7>
        </div>
    </div>
    <br>
</footer>

